html {
  font-size: 20px;
}

body {
  background-color: white;
  font-family: 'Source Serif Pro', serif;
  font-weight: 400;
  line-height: 1.45;

  word-wrap: break-word;
  color: #333;
  margin: 0;
}

p {
  /*margin-bottom: 1.3em;*/

  margin-top: 0;
  margin-bottom: 1.65rem;

}

p + p {
  text-indent: 1.5em;
  margin-top: -1.5em;
}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  line-height: 1.2;
  color: #222;

  text-rendering: optimizeLegibility;
}

h1 {
  margin-top: 0;
  font-size: 3.157em;
}
h2 {font-size: 2.369em;}
h3 {font-size: 1.777em; font-weight: 500;}
h4 {font-size: 1.333em; font-weight: 300;}

small {
  font-size: 0.75em;
}

article {
  max-width: 36em;
}

.container {
  padding: 80px;
}

.name {
  font-size: 1.333em;
  margin: 40px 80px 0 80px;
  border-bottom: 1px solid #BEBEBE;
  border-bottom-style: dotted;
  padding-bottom: 1rem;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  font-weight: 400;
  color: black;

  max-width: 36rem;
}

a.unstyled {
  text-decoration: none;
  color: inherit;
}

ul.unstyled {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

header time {
  float: right;
  margin-top: -60px;
}


/* Mobile */
@media only screen and (max-width: 768px) {
  .name {
    margin: 20px 40px 0 40px;
  }

  .container {
    padding: 40px;
  }

  header time {
    margin-top: -40px;
  }

  /* Scale down font sizes one step */
  h1 {
    font-size: 2.369em
  }
  h2 {font-size: 1.777em;}
  h3 {font-size: 1.333em; font-weight: 500;}
}