body {
    background: #fdf9f3;
    background: #EFE3E3;
    color: #2c292d;

    --color-red: #ff6188;
    --color-orange: #fc9867;
    --color-yellow: #ffd866;
    --color-green: #a9dc76;
    --color-cyan: #78dce8;
    --color-purple: #201363;

    font-family: -apple-system, "Segoe UI", system-ui, Roboto, Ubuntu, 'Helvetica Neue', Oxygen, Cantarell, Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'
}

h1, h2, h3 {
}

header {
    max-width: 600px;
    display: inline-block;
    padding: 80px 0 80px 100px;
}

header h1 {
    margin: 0;
    letter-spacing: 0.05em;
}

header p {
    margin: 1.65rem 0;
}
#indexWrapper {
    width: 50%;
    display: inline-block;
    height: 100vh;
    border-left: 1px solid #CCC;
    float: right;
    padding: 80px 0;
    
}

#indexWrapper ul {
    padding: 0 80px;
    list-style-type: none;
    
}


#index {
    font-size: 1.333em;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#index li {
    margin-bottom: .5em;
    
}

.navlink {
}

.links-hub a {
    color: #2c292d;
    text-decoration: none;
}

.links-hub a:hover {
    text-decoration: underline;
}

.ut-orange {
    background-color: #BF5700;
    color: #333F48;
    color: white;
}

section {
    padding: 40px 80px;
}

.education h2 {
    margin: 0;
}


h3 {
    font-size: 1.222em;
    font-weight: 700;
}

.half {
    display: inline-block;
    width: 49%;
}

.left {
    float: left;
}
.right {
    float: right;
}

.block {
    display: block;
    width: 100%;
}

article {
    min-height: 200px;
    display: block;
    clear: both;
    margin-bottom: 120px;
}

.project-img {
    width: 50%;
    max-width: 50%;
}

.project-img img {
    max-width:100%; 
    max-height:100%;
}

.text-block {
    padding: 0 40px;
    display: inline-block;
}

.featured-image img {
    max-width: 100%;
    max-width: min(800px, 100%);
}

.card {
    width: 26rem;
    max-width: 100%;;
    margin: 1rem 0.75rem;
    background-color: #2c292d;
    color: #fdf9f3;

    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
    border-color: #2c292d;
}

/* .card-body + .card-body {
    border-top: 1px solid #fdf9f3; 
} */

.card-img, .card-img-top {
    border-bottom: 1px solid #fdf9f3;
}

.card-title {
    margin-top: 0;
}

.projects {
    background-color: #fdf9f3;
    padding-bottom: 120px;
}


footer {
    padding: 40px;
    background: #2c292d;
    color: #fdf9f3;
    font-size: 0.85rem;
}

@media only screen and (max-width: 768px) {
    header {
        max-width: 100%;
        max-width: 100%;
        padding: 80px 40px 40px 40px;
    }

    .featured-image img {
        max-width: 100%;
    }

    .half {
        width: 100%;
    }

    header h1 {
        
    }
    #indexWrapper {
        width: 100%;
        border: none;
        float: none;
    }

    #indexWrapper ul {
        padding: 0 40px;
    }

    section {
        padding: 20px 25px;
    }
    
}

